html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
	background-color: #eeeeee;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}
footer{
	position: absolute;
	right: 0;
	bottom: auto;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

.azul_header{
	background-color: #1127C6;
}
#panel_usuario{
	color: white;
	font-size: 34px;
	font-weight: 300;
	position: relative;
	top: 33px;
	margin-right: 2%;
}
#logoimg{
	height: 115px;
	padding: 5px;
}
#datosUsuario{}
#permisos{}
#permisos p{
	margin: 0;
	margin-top: 3%;
	font-weight: 300;
	font-size: 2vw;
}
.switch{
	margin-top: 4%;
}
.switch label{
	font-size: 1.5vw;
}
#btnForm{
	width: 100%;
	background-color: #1127C6;
	z-index: 0
}
#btnForm:hover{
	background-color: #1565C0;
}
.pmodulo{
	margin: auto;
}
.pmodulo img{
	width: 40%;
}
.pmodulo h2{
	border-bottom-style: groove;
    width: 95%;
    margin: auto;
    padding-top: 1%;
}
.omodulo section{
	margin-top: 2%;
}
.omodulo p{
	font-size: 1.5rem;
    margin: 1% 0;
}
.contenedor{
	width: 95%;
	margin: auto;
}

#navHeader ul li a{
	font-size: 20px;
	font-weight: 300;
    padding: 0px;
    border-bottom: 1.5px solid #fff;
    display: initial;
    margin-right: 15px;
}
#navHeader ul li a:hover{
	border-bottom: 2px solid #FFD700;
    color: #FFD700;
    background-color: rgba(0, 0, 0, 0);
}
#navFooter ul{
}
#navFooter ul li a{
	font-size: 20px;
	font-weight: 300;
    padding: 0px;
    border-bottom: 1.5px solid #fff;
    display: initial;
    margin-right: 20px;
}
#navFooter ul li a:hover{
	border-bottom: 2px solid #FFD700;
    color: #FFD700;
    background-color: rgba(0, 0, 0, 0);
}
#logo{height: 115px;}
#RRSS a img{
	width: 40px;
}
#RRSSfooter a img{
	width: 25%;
}
#RRSS a{
	float: right;
	margin-left: 10%;
}
.activePage{
	border-bottom: 2px solid #FFD700 !important;
    color: #FFD700;
}
#capa1{
    position: absolute;
    z-index: 1;
}
#capa1 img{
    opacity: 0.1;
    height: 115px;
    margin-left: 70%;
}
#capa2{
    position: relative;
    z-index: 2;
}
footer article div p{
	color: white;
	font-size: 18px;
	font-weight: 300;
}
.unrow{
	margin-bottom: 0;
}
.noticias h4{
	margin-top: 0;
}
.customBtn{
	background-color: #1127c6;
}
.customBtn:hover{
	background-color: #0080ff;
}
.titulo{
	color: #0080ff;
	font-size: 1.50rem;
    font-weight: 300;
}
.noticias img{
	float: left;
	padding: 0 10px;
}
.resumen{
	text-align: justify;
	font-size: 16px;
	font-weight: 400;
}
.fecha{
	display: block;
	margin-top: 10px;
    font-weight: 300;
    font-style: italic;
	color: #0080ff;
}
.clear{clear: both;}
#aside h4{
	font-weight: 300;
}
#aside h5{
	padding: 8px;
	background-color: #FFD700;
	font-weight: 300;
}
#aside p{
	font-weight: 500;
	color: #0080ff;
}
nav{
	background-color: rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0);
}
.custom-header h3{
	font-size: 12px;
    font-weight: 500;
    color: #b7bbc2;
    margin: -15px 0;
}
.custom-header h2{
	color: #495468;
    font-weight: 300;
    font-size: 18px;
    margin-top: -53px;
}
.justify{
	text-align: justify;
}
.nosotros h3, .nosotros h4{
	color: #0080ff;
    font-weight: 300;
}
.historia p,{
	font-style: italic;
}
.valores span, .principios span{
	font-weight: bold;
}
.table-of-contents a.active{
	border-left: 2px solid #039be5;
}
.table-of-contents a:hover{
	border-left: 2px solid #039be5;
}
.parallax-container {
    height: 300px;
}
.collapsible-custom{
	padding: 0;
}
.nopadding{
	padding: 0 !important;
}
.zona h4{
	color: #039be5;
    font-weight: 300;
    margin: 0;
}
.zona p{
	font-style: italic;
    color: grey;
}
.zona h5{
	font-weight: 300;
}
.zona a:hover{
	color: #FFD700;
}
.panel1{
	padding: 10px 30px !important;
	background-color: #1127C6;
	color: white;
	border-radius: 5px;
	font-weight: 300;
	font-size: 22px;
}
.panel2{
	padding: 10px 30px !important;
	background-color: #eeeeee;
	border-radius: 5px;
	font-weight: 300;
	font-size: 19px;
}
#login-page{
	width: 40%;
	margin: 4% auto;
}
/* Dropdown Nav */

.brand-logo{
	z-index: 4;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: 400px;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: auto; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  will-change: width, height;
}
.dropdownCustom{
	min-width: 220px !important;
}
.dropdownCustom li{
	padding: 0 !important;
}
.dropdownCustom a{
	width: 100% !important;
	padding: 20px 20px !important;
	color: #0091ea  !important;
}
.fa-custom{
	font-size: 24px;
}
.fa-custom2{
	font-size: 22px;
	margin: 0 7px;
}
.dropdown-button span{
	font-weight: 300;
    font-size: 25px;
}
#navpanel{
	height: 120px !important;
}
.inicio-panel{
  position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(17,39,198,1);
	background: -moz-linear-gradient(top, rgba(17,39,198,1) 0%, rgba(18,113,196,1) 50%, rgba(32,208,227,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,39,198,1)), color-stop(50%, rgba(18,113,196,1)), color-stop(100%, rgba(32,208,227,1)));
	background: -webkit-linear-gradient(top, rgba(17,39,198,1) 0%, rgba(18,113,196,1) 50%, rgba(32,208,227,1) 100%);
	background: -o-linear-gradient(top, rgba(17,39,198,1) 0%, rgba(18,113,196,1) 50%, rgba(32,208,227,1) 100%);
	background: -ms-linear-gradient(top, rgba(17,39,198,1) 0%, rgba(18,113,196,1) 50%, rgba(32,208,227,1) 100%);
	background: linear-gradient(to bottom, rgba(17,39,198,1) 0%, rgba(18,113,196,1) 50%, rgba(32,208,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1127c6', endColorstr='#20d0e3', GradientType=0 );
}
.nomargin{
	margin: 0;
}
.social{
	font-size: 40px;
	color: white;
}
.social:hover{
	color: #FFD700;
}
#homePanel img{
	width: 25%;
	margin: 3% 0;
}
.amarillo-ideal{
	color:#FFD700;
}
a.disabled{
   	pointer-events: none;
   	cursor: default;
}
a.disabled div{
	background-color: grey !important;
	color: #424242 !important;
}
.s2custom{
	width: 15.6%;
    margin-left: 1%;
    left: auto;
    right: auto;
}
.fontcustom h3, h6{
	font-family: 'Quicksand', sans-serif;
	margin-top: 0;
}
#nombreusuario{
	margin: 30px 0;
}
.fontcustom h5{
	font-family: 'Courgette', cursive;
}
.fontcustom h3 span{
	font-size: 6rem;
}
.fontcustom h6{
	margin: 20px 0 10px 0;
	font-size: 20px;
}
.titulo-noticia{
	color: #0080FF;
    font-size: 40px !important;
    font-weight: 200;
}
.dropify-message p{
	text-align: center !important;
}
.img-noticia{
    padding: 1%;
}
#noticia-completa p{
	padding: 0 2%;
}
.titulo-noticia-completa{
	color: #0080ff;
    font-weight: 300;
}

.back-to-top {
	display: none;
}
.resumen-evento{
	text-align: justify;
    font-style: italic;
    font-weight: 300 !important;
}
.grado{
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding: 0px 15px;
    border-radius: 5px;
    margin: 0 1%;
}
#buscar{
	border-bottom-style: hidden;
}
#buscar:focus{
	border-bottom-color: transparent !important;
	box-shadow: initial !important;
}
.item-active{
	background-color: #26a69a !important;
	color: white !important;
	cursor: default;
    pointer-events: none;
}
/* Materialize Custom */
.input-field .prefix.active{
	color:#0091ea  !important;
}
input:not([type]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{

	color:#0091ea  !important;

}
input:not([type]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){

	border-bottom-color:#0091ea  !important;
	box-shadow: 0 1px 0 0 #0091ea  !important;

}
.switch label input[type=checkbox]:checked + .lever {
    background-color: #0091ea;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #b3e5fc;
}
.italic-text{
	font-style: italic;
}
.sub-text{
	text-decoration: underline;
}
.centrado-mensaje{
	text-align: center;
	margin: 12% 15%;
	color: grey;
}
.centrado-div{
	margin: 6% 0;
}
.foot{
	margin-top: 2%;
}
.icon-big{
	font-size: 48px;
}
.input-field input[type=search]{
	padding-left: 4rem;
    width: calc(100% - 4rem);
}
.agenda{
	margin-bottom: 10%
}
@media only screen and (min-width: 601px){
	.contenedor{
		width: 85%;
	}
	.panel2{
	    font-size: 22px;
	    margin-left: 1% !important;
	    width: 65% !important;
	}
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.fixed-action-btn-left{
	position: fixed;
    left: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 1;
}
@media screen and (max-width: 801px){
	.hide-custom{
		display: none;
	}
}
.slider .slides li.active{
	z-index: 1;
}

.center{
  margin: 0 auto;
}
