* {box-sizing:border-box}
body {margin: 0;}
header {
    background-color: #1127c6;
    width: 100%;
    height: 120px;
}
p{margin: 0}
#titulo {
    float: right;
    width: 70%;
}
#titulo p{
    float: right;
    color:white;
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: bold;
    margin: 0 6%;
    position: relative;
    top: 55px;
}
#logo {
    float:left;
    width: 200px;
    margin:5px 0;
    padding-top:3px;
    margin-left:45px;
}
#logo img{
    width: 100%;
}
.omodulo{
    background-color: #eee;
    text-align: center;
}
.omodulo section{
    float: left;
    width: 18%;
    padding: 15px;
    margin-left: 20%;
}
.omodulo section a img{
    width: 100%;
}
h2 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 50px;
    margin: 15px 50px;
}
.omodulo section a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: bold;
}
.clear{
    clear: both;
}

/* Noticias ADD */

#formulario{font-weight:bold;font-family:'Roboto';width:95%;margin:1% auto;

}
#form{background-color:#EEEEEE;padding:1%;box-shadow:0 1px 10px 0px #000000;

}
#titulonoticia, #tituloagenda, #tituloBiblioteca{width:100%;margin-left:0%;height:44px;font-size:30px;color:#0080FF;border:none;border-bottom-style:ridge;margin-bottom:1%;background-color:transparent;

}
#publicarNoticia{
    font-size:20px;
    color:white;
    background-color:#1127c6;
    border: none;
    cursor: pointer;
    float:left;
    margin-top:1%;
    margin-left:2%;
    padding:6px;
    box-shadow:0px 0px 0px 0px black;
    width:68%;
}
#publicarNoticia:hover {background-color: #1565C0;} 
#contenidoNoticia{width:68%;resize:none;font-family:'Roboto';font-weight:bold;font-size:18px;float:left;margin-left:2%;

}
#form input[type=file]{width:100%;}
#form input{
    font-family: 'Roboto';
    font-weight: bold;
}
.thumb {
    margin: 10px 5px 0 0;
    height: 300px;
    max-width: 100%;
    padding: 10px;
}
#imagencarga {float:left;width:30%;border-style:groove;border-width:thin;height:340px;background-color:white;}

/* FIN ADD NOTICIA*/
/* ADD AGENDA */
.inputhora{float:left;margin-left:1%;height:30px;width:17%;margin-top:1%;}
#contenidoAgenda, #contenidoBiblioteca{width:64%;resize:none;font-family:'Roboto';font-weight:bold;font-size:18px;float:left;}
#fechaEvento{float:left;margin-left:1%;height:30px;font-size:18px;width:35%;}
#fechaEventoLabel{float:left;margin-left:1%;font-size:19px;margin-bottom:3px;}
#publicarAgenda, #publicarBiblioteca{
    font-size:20px;
    color:white;
    background-color:#1127c6;
    border: none;
    cursor: pointer;
    float:left;
    margin-top:1%;
    margin-left:1%;
    padding:6px;
    box-shadow:0px 0px 0px 0px black;
    width:35%;
}
#publicarAgenda:hover, #publicarBiblioteca:hover {background-color: #1565C0;} 
/*FIN AGENDA ADD */
/*ADD BIBLIOTECA*/
#enlaceBiblioteca{float:left;margin-left:1%;height:30px;font-size:18px;width:35%;}
.selectB{
    float:left;margin-left:1%;height:30px;width:17%;margin-top:1%;
}
.datosUsuario{width:85%;height:55px;font-size:24px;margin:5px 20px;}
.radio_usuario{}
#crearUsuario{
    clear:both;
    font-size:20px;
    color:white;
    background-color:#1127c6;
    border: none;
    cursor: pointer;
    float:left;
    margin-top:1%;
    padding:6px;
    box-shadow:0px 0px 0px 0px black;
    width:100%;
}
#crearUsuario:hover {background-color: #1565C0;}
.tituloUsuario{margin:10px auto;font-size:30px;width:97%; border-bottom-style: ridge; color: #0080ff;}
#datosUsuario{float:left;width:55%;}
#permisos{width:45%;float:left;}
.labelPermisos{font-size:20px;margin:0px 10px;width: 37%; float: left;padding:2%;}
#articuloB, #articuloA, #articuloN, #articuloU{width:100%;}