  .switch {
    background: #00bc9c;
    transition: all 0.2s ease;
    text-align: center;
    border-radius: 25px;
    width: 40%;
    height: 40px;
    float: left;
    position: relative;
    margin: 0px 0 2% 0%;
  }
  .switch span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
  }
  .switch span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
  }
  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 60px;
    line-height: 40px;
    transition: all 0.2s ease;
  }
  /*Biblioteca*/
  label[for=yesb] {
    position: absolute;
    height: 20px;
    left: 0px;
  }
  label[for=nob] {
    position: absolute;
    right: 0px;
  }
  #nob:checked ~ .switch {
    background: #eb4f37;
  }
  #nob:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #nob:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yesb:checked ~ .switch label[for=yesb] {
    color: #fff;
  }
  #nob:checked ~ .switch label[for=nob] {
    color: #fff;
  }
  /*Agenda*/
  label[for=yesa] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for=noa] {
    position: absolute;
    right: 0px;
  }
  #noa:checked ~ .switch {
    background: #eb4f37;
  }
  #noa:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #noa:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yesa:checked ~ .switch label[for=yesa] {
    color: #fff;
  }
  #noa:checked ~ .switch label[for=noa] {
    color: #fff;
  }
  /*Noticia*/
  label[for=yesn] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for=non] {
    position: absolute;
    right: 0px;
  }
  #non:checked ~ .switch {
    background: #eb4f37;
  }
  #non:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #non:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yesn:checked ~ .switch label[for=yesn] {
    color: #fff;
  }
  #non:checked ~ .switch label[for=non] {
    color: #fff;
  }
  /*Usuario*/
  label[for=yesu] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for=nou] {
    position: absolute;
    right: 0px;
  }
  #nou:checked ~ .switch {
    background: #eb4f37;
  }
  #nou:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #nou:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yesu:checked ~ .switch label[for=yesu] {
    color: #fff;
  }
  #nou:checked ~ .switch label[for=nou] {
    color: #fff;
  }
  .toggle-radio{
    margin: -6% 0px 15px 10%;
    width: 35%;}